.education{
  margin: 3rem 0;
}
.education__title, .skill__title , .content-skill > h2 {
  text-align: center;
  color: #087bec;
}


.school{
  position: relative;
}


.school > .school__image{
  display: inline-block;
  background-color: #ccc;
  width: 6rem;
  height:6rem;
  border-radius: 50%;
  overflow: hidden;  
  border: 2px solid var(--primary-color)
}
.school > .school__image > img {
  max-width: 100%;
  max-height: 100%;
  margin:  auto;
  display: block; 
}

.school__name{
  margin-left: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) ;
  font-weight: 700;
}


.body-content{
  display: flex;
  border: 1px solid #ccc
}

.body-content__left{
  padding-left:1rem;
  flex: 3.5;
}

.body-content__right{
  flex: 8.5;
  border-left: 0.1rem solid #ccc;
  padding-left: 1rem;
  padding-right: 1rem;
}



.skill{
  display: flex;
}

.skill:first-child{
  margin-top:3rem;
}

.content-skill{
  display: flex;
  flex-direction: column;
  flex:12;
  margin-top:3rem;
  margin-bottom:3rem;
}

.skill__value{
  flex:10}
.skill__name{
  flex: 2;
  font-weight: 700;
}



 .content-skill > h2 , .ceritficate >h2 , .work >h2 , .education__title{
  width: 100%; 
  border-bottom: 0.1rem solid #ccc;
  line-height: 0.1em;
  margin: 1rem 0 2rem; 
  color: #087bec;
}
 .content-skill > h2 span , .ceritficate >h2 span , .work >h2 span , .education__title >span{ 
  background: #fff; 
}

.work{
  margin-top:3rem;
  margin-bottom:3rem;
}
.work > h2 {
  text-align: center!important;
  color: #087bec;
}

.work > * {
  text-align: start;
}

.company{
  padding-top:1rem;
  font-weight: 700;
}

.ceritficate > h2{
  
  text-align: center  
}
.certificate__name{
}

.ceritficate .certificate__name ~ .certificate__name{
  padding-top:0;
}

.ceritficate{
  margin: 3rem auto
}