.objective__title {
  text-align: center;
}

.objective > h2 span {
  background: #fff; 
}

.objective > h2 {
  width: 100%; 
  border-bottom: 0.1rem solid #ccc;
  line-height: 0.1em;
  margin: 1rem 0 2rem; 
  color: #087bec;
}

.school{
  position: relative;
}
.school > .school__image{
  display: inline-block;
  background-color: #ccc;
  width: 6rem;
  height:6rem;
  border-radius: 50%;
  overflow: hidden;  
  border: 2px solid var(--primary-color)
}
.school > .school__image > img {
  max-width: 100%;
  max-height: 100%;
  margin:  auto;
  display: block; 
}

.school__name{
  margin-left: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) ;
}